<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel = " stylesheet " href = " https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../../css/reset.css"> 
    <link rel="stylesheet" href="../../css/home.css">
    <title>Hive</title>
</head>
<body>
    <header>

        <span>
            <img class="logo" src="../../img/icones/Logo teste.png">
        </span>

        <span class="buscar">
            <form class="formulario">
                <input type="search" placeholder="Buscar">
            </form>
        </span>

        <nav class="menu">
            <ul>
                <li><a href="/home"><img src="../../img/icones/Home Icon.png"></a></li>
                <li><a><img src="../../img/icones/Chat Icon.png"></a></li>
                <li><a href="/perfil"><img src="../../img/icones/Profile Icon.png"></a></li>
                <li><a href="/"><img src="../../img/icones/Sair Icon.png"></a></li>
            </ul>
        </nav>

    </header>

    <main>

        <section class="conteudo">
            <div class="card-publi">
                <span class="nome-usuario">Felpss00</span>
                <img src="../../img/publi/post1.png">
                <div class="card-conteudo">
                    <span class="card-descri">Por do sol no Gta V, Um jogo realemnte  muito bonito, mesmo ele sendo de 2013...</span>
                </div>
            </div>

            <div class="card-publi">
                <span class="nome-usuario">Alionxx</span>
                <img src="../../img/publi/post2.png">
                <div class="card-conteudo">
                    <span class="card-descri">OVO exprodi a lua garaiii. Easter egg Der Eisendrache, CHECK!!!!!</span>
                </div>
            </div>

            <div class="card-publi">
                <span class="nome-usuario">Skell</span>
                <img src="../../img/publi/post3.png">
                <div class="card-conteudo">
                    <span class="card-descri">Um pouco do que é Night City, tirando os bugs o jogo é otimo e MUUUITO bonito graficamente.</span>
                </div>
            </div>

            <div class="card-publi">
                <span class="nome-usuario">Kayn</span>
                <img src="../../img/publi/post4.png">
                <div class="card-conteudo">
                    <span class="card-descri">Pai ta global GARAIIIIIIIIIII!!!!!</span>
                </div>
            </div>

        </section>

        <section class="canais">
            <h1>Videos Recomendados</h1>
            <div class="card-video">
                <span class="nome-canal">fallenINSIDER</span>
                <a href="https://www.youtube.com/watch?v=y3xApPn7Hsw"><img src="../../img/publi/ex-canais1.png"></a>
            </div>
            <div class="card-video">
                <span class="nome-canal">fallenINSIDER</span>
                <a href="https://www.youtube.com/watch?v=CTfBuFvWPjU"><img src="../../img/publi/ex-canais2.png"></a>
            </div>
            <div class="card-video">
                <span class="nome-canal">Patriota</span>
                <a href="https://www.youtube.com/watch?v=UhWgA7VQc60"><img src="../../img/publi/ex-canais3.png"></a>
            </div>
            <div class="card-video">
                <span class="nome-canal">Hayashii</span>
                <a href="https://www.youtube.com/watch?v=HbASi1Kk7CA"><img src="../../img/publi/ex-canais4.png"></a>
            </div>
            
            

        </section>
    </main>
    
</body>
</html>
